:root {
  --blue: #060f64;
  --green: rgb(17, 107, 9);
  --titles1: 20px;
  --titles2: h1;
}

.bImage {
  background: url(images/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 80px 420px 80px 200px 200px 50px;
  justify-content: center;
  margin: 20px;
}
.wrapperOrders {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 80px 420px 80px 50px;
  justify-content: center;
  margin: 20px;
}
.wrapperFoods {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin: 20px;
}
.wrapperContact{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 80px 200px;
  justify-content: center;
  margin: 20px;
}

.box {
  background-color: #444;
  color: #fff;
  background-color: crimson;
  border-radius: 5px;
  padding: 25px;
  font-size: 150%;
  opacity: 1;
}



.header {
  text-align: center;
  margin-left: 18px;
  
}
.event {
  grid-column: 1/4;
  max-width: 800px;
  max-height: 420px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-left: 17px;
}
.title {
  grid-column: 1 / 5;
  text-align: center;
  opacity: 0.8;
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  color: var(--blue);
}
.foodImage {
  grid-column: 1;
  height: 200px;
  width: 200px;
  border-radius: 5%;
}
.foodDescription {
  grid-column: 2 / 5;
  height: 150px;
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  color: var(--blue);
  font-style: oblique;
  opacity: 0.8;
}


.footer {
  grid-column: 1 / 5;
  justify-items: center;
  opacity: 0.8;
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  font-style: italic;
  color: var(--blue);
  text-align: center;

  
}

.chooseFood {
  grid-column: 1/3;
  justify-items: center;
  opacity: 0.8;
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  font-style: italic;
  color: var(--blue);
}
.yourDetails {
  grid-column: 3/5;
  justify-items: center;
  opacity: 0.8;
  background: rgb(226, 199, 199);
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  font-style: italic;
  color: var(--blue);
}
.contactPage {
  grid-column: 1/5;
  justify-items: center;
  opacity: 0.8;
  background: #fff;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  font-style: italic;
  color: var(--blue);
}
.contactList{
  font-weight: bold;
  color:var(--green);
  font-size: var(--titles1);
}
