:root {
  --blue:#060f64;
  --titles: h3;
}



.wrapper {
  display: grid;
  grid-gap : 10px;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 80px 420px 80px 200px 200px 50px;
  justify-content: center;
  margin: 100px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 25px;
  font-size: 150%;
  opacity: 1;
}

.header {
  grid-column: 4;
  grid-row: 1;
}
.event {
  max-width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.title{
  grid-column: 1 / 5 ;
  justify-items: center;
  opacity: 0.8;
  background: #fff;
  font-family: 'Courier New', Courier, monospace;
  color: var(--blue);
}
.foodImage{
  grid-column: 1;
  height: 200px;
  width: 200px;
  border-radius: 5%;
}
.foodDescription{
  grid-column: 2 / 5;
  background: #fff;
  font-family: 'Courier New', Courier, monospace;
  color: var(--blue);
  font-style: oblique;
  opacity: 0.8;
}

.footer{
  grid-column: 1 / 5 ;
  justify-items: center;
  opacity: 0.8;
  background: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-style: italic;
  color: var(--blue);
}
